<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56470386968-i1bsgasvu0tednl4i6afii84qdst1dgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56470386968-i1bsgasvu0tednl4i6afii84qdst1dgm</string>
	<key>API_KEY</key>
	<string>AIzaSyDf5FEtwto0Mon44Tmrn_gf6dEkiFvz5S0</string>
	<key>GCM_SENDER_ID</key>
	<string>56470386968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.hitokoto2</string>
	<key>PROJECT_ID</key>
	<string>hitokoto-309511</string>
	<key>STORAGE_BUCKET</key>
	<string>hitokoto-309511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56470386968:ios:bef967059e744f96bc866d</string>
</dict>
</plist>