<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音声を編集する</title>

</head>

<body>
    <input id="button" type="button" value="play!">
    <input type="range" id="time" name="time" min="0" max="30">
    <script src="https://tonejs.github.io/build/Tone.js"></script>
    <script src="index.js"></script>
</body>

</html>
